/*---Обнуление---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
html,
body {
  height: 100%;
  background: #fbfbfc;
  line-height: 1;
  font-size: 14px;
  color: #1d252e;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
$color_bg: #fbfbfc;
$color-main: #1d252e;
$color-main-blue: #0084ca;
$color-text-weight300: #2a3b45;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
